<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests">
    <test verbose="2" preserve-order="true" name="Test_1">
        <parameter name="environment" value="mobile"/>
        <classes>
            <class name="com.krafttech.runners.Runner"/>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="Test_2">
        <parameter name="environment" value="pc"/>
        <classes>
            <class name="com.krafttech.runners.Runner"/>
        </classes>
    </test>
</suite>